body {
    color: #fff;
}
h1 {
    -webkit-text-stroke: 1px rgb(0, 255, 179);
    color: white;
}
div {
    border-color: gray;
    border-width: 1px;
    border-style: dotted;
    margin: 10px 25%;
}
hr {
    margin: 10px 35%;
}



